In [3]:
import numpy as np

In [17]:
# Задание 1

# Создайте numpy array с элементами от числа N до 0 
# (например, для N = 10 это будет array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])).

N_q = int(input('Введите кол-во элементов numpy array: '))
x = np.arange(N_q-1, -1, -1)
x

Введите кол-во элементов numpy array: 10

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

In [44]:
# Задание 2

# Создайте диагональную матрицу с элементами от N до 0. 
# Посчитайте сумму ее значений на диагонали.

N_q = int(input('Введите размерность матрицы: '))

# Формируем диагональную матрицу, по убыванию на -1 начиная с N-1
m_x = np.diag(np.arange(N_q-1, -1, -1), k=0)

# Cумма значений матрицы на диагонали
total = 0
for i in range (0, N_q):
       total += m_x[i][i]

print (total)

Введите размерность матрицы: 10
45

In [41]:
# Задание 3

# Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
# Определите какому фильму было выставлено больше всего оценок 5.0.

import pandas as pd

In [92]:
#
# Задание 3. Вариант №1. Без названия фильма (фильтр + value_counts)
#

# Фильмы
movies = pd.read_csv('ml-latest-small/movies.csv')

# Рейтинги
ratings = pd.read_csv('ml-latest-small/ratings.csv')

# Отфильтруем только фильмы с рейтингом = 5.0
f_rating = ratings[ ratings.rating ==5 ]

# топ фильм по количеству оценок (с рейтингом = 5.0)
print ('Фильм, c наибольшим кол-вом оценок 5.0:')
f_rating['movieId'].value_counts().head(1)

Фильм, c наибольшим кол-вом оценок 5.0:

318    153
Name: movieId, dtype: int64

In [93]:
#
# Задание 3. Вариант №2. С названием фильма (groupby + join)
#

# Фильмы
movies = pd.read_csv('ml-latest-small/movies.csv')

# Рейтинги
ratings = pd.read_csv('ml-latest-small/ratings.csv')

# Отфильтруем только фильмы с рейтингом = 5.0
f_rating = ratings[ ratings.rating ==5 ]

# Оставим только столбцы 'userId', 'movieId'
f_rating = f_rating[['userId', 'movieId']]

# топ фильмов по количеству оценок (с рейтингом = 5.0)
top_rating = f_rating.groupby('movieId').count().sort_values('userId', ascending=False).head(1)

# Подтащим название фильма (сделаем join фильмов и рейтингов по полю movieId)
joined = top_rating.merge(movies, on='movieId', how='left')

# Переименуем столбец на count_rating
joined.rename(columns={'userId': 'count_rating'}).head()

   movieId  count_rating                             title       genres
0      318           153  Shawshank Redemption, The (1994)  Crime|Drama

In [118]:
# Задание 4

# По данным файла power.csv посчитайте суммарное потребление sum(quantity) 
# стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. 
# Не учитывайте в расчетах отрицательные значения quantity.

# Обьем потребления по странам, годам и категориям 
data = pd.read_csv('power.csv')

# Посмотрим уникальные страны в датафрейме
# data.info()
# data ['country'].unique().head()

# Отфильтровать - категории(4, 12 и 21);  - время(период с 2005 по 2010 год);  -страны (Латвия, Литва и Эстония); -убрать отрицательные значения quantity 
filtered_data = data[ ( (data.category==4) | (data.category==12) | (data.category==21) ) &
                      ( (data.year >= 2005) & (data.year <= 2010) ) &
                      ( (data.country=='Latvia') | (data.country=='Lithuania') | (data.country=='Estonia') ) &
                      ( (data.quantity > 0) )
                    ]

# Вычислить суммарное потребление sum(quantity) по датафрейму
sum_total = filtered_data['quantity'].sum()
print ('Cуммарное потребление = ', sum_total)
print ()

# Вычислить потребление по странам (сгруппировать по странам (country)) 
print ('Cуммарное потребление по странам :')
filtered_data.groupby('country')['quantity'].agg('sum')

Cуммарное потребление =  240580.0

Cуммарное потребление по странам :

country
Estonia       63440.0
Latvia        54844.0
Lithuania    122296.0
Name: quantity, dtype: float64

In [123]:
# Задание 5
# Решите систему уравнений:

# - 4x + 2y + z = 4
# -  x + 3y     = 12
# -     5y + 4z = -3

# Проставим недостающие коэф-ты в левой части уравнения
# - 4x + 2y +  z  = 4
# -  x + 3y + 0z = 12
#   0x - 5y + 4z = -3

# Коэффициенты при переменных в левой части уравнения
a = np.array( [ [-4, 2, 1], [-1, 3, 0], [0, -5, 4] ] )

# Значения в правой части уравнения
b = np.array( [4, 12, -3] )

# Методы линейной алгебры в linalg
from numpy import linalg

# Решение 
print('Решение системы уравнений: [x, y, z]')
linalg.solve(a, b)

# Проверка
# np.allclose( np.dot(a, linalg.solve(a, b)), b )

Решение системы уравнений: [x, y, z]

array([2.82857143, 4.94285714, 5.42857143])